.ex1{
    width:200px;
    height: 100px;
    border: 3px greenyellow
}

.ex2{
    width: 150px;
    height: 150px;
    border: 5px;

}

article{
    font-family: arial 20px;
    font-size: 20px;
    color: red

}